{{ define "title" }}
Homepage
{{ end }}
{{ define "description" }}
Ian Schrader is a Freshman at the University of Illinois. This is his corner of the internet.
{{ end }}
<!DOCTYPE html>
<html>
    <head lang="en">
        {{ partial "head.html" . }}
        <title>Ian's corner of Internet: homepage</title>
        <meta name="description" content="Ian Schrader's personal website." />
    </head>
    <body>
        <div class="top-container">
            <main class="page-home content-container" aria-role="main">
                <h1>[gtf]</h1>
                <p class="health-warning">a work in progress</p>

                {{ partial "menu.html" . }}

                <section class="bio">
                    {{ partial "short_bio.html" }}
                </section>
            </main>
        </div>
        {{ partial "footer.html" }}
    </body>
</html>
